body, html{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
background-image: url('background/image.png');
}

.conteiner{

    background-color: transparent;
    width: 30rem;
    height: 100%;
    background-color:rgba(241, 116, 71, 0.555);
    opacity: 0.7;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {

    width: 10%;
    background-color: white;
    text-align: center;
    border-radius: 6%;
    padding: 190px;
    margin: 0 auto;

}

.dados{
     
    display: flex;
    height: 95px;
    justify-content:center;
    align-items: center;
}

input{

    border: none;
    border-bottom: 1px solid #7115ad;
    width: 15rem;
    height: 3rem;
    border-radius: 10%;

}

::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder {
    text-align: center; 
}
::-moz-placeholder {
    text-align: center;
}
:-ms-input-placeholder {
    text-align: center; 
}

::placeholder {
    font-size: 20px;
    text-align: center;
    opacity: 0.6; 
}

.toggle-password {
    position: relative;
    top: 40%;
    right: 0px;
    transform: translateY(-50%);
    cursor: pointer;
}

.entrar{

    border-radius: 20%;
    width:55%;
    border: none;
    border-bottom: 1px solid #7115ad;
    background-color: rgba(231, 129, 45, 0.993);
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    margin-top: 55px;
    cursor: pointer;
    transition: transform 0.2s;
    
}

.entrar:active {
    transform: scale(0.9);
}

.entrar-clicked {
    animation: click-animation 0.4s forwards;
}

@keyframes click-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}