<<<<<<< HEAD
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.menu {
    background-color: #6b33aa;
    color: white;
    width: 230px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.menu a {
    color: white;
    padding: 10px 0;
    text-decoration: none;
}

.menu a:hover {
    background-color: #dd8e34;
    border: none;
    border-radius: 4px;
}

.foto_usuario {
    width: 200px;
    height: 200px;
    background-color: #dd8e34;
    border-radius: 50%;
    margin-bottom: 200px;
    background-size: cover;
    background-position: center;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30%;
}

.textbox-container {
    width: 80%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.textbox {
    width: 100%;
    padding: 50px;
    font-size: 16px;
    border: 1px solid #eb822c;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: -40px;
}

.comment-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #b562e6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-button:hover {
    background-color: #7e38ce;
}

@media (max-width: 600px) {
    .menu {
        width: 100px;
        padding: 10px;
    }
    .menu a {
        padding: 8px 0;
        font-size: 14px;
    }
    .foto_usuario {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
}
=======
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.comentar{
    border-radius: 15%;
    border-color: rgb(0, 0, 0);
    width: 350px;
    height: 190px;
    margin-top: -350px;
}
.foto_perfil{
    width: 210px; 
    height: 210px; 
    background-color: purple;
    border-radius: 50%; 
    left: 0;
    position: absolute;
    border: 5px solid #2c3e50;
    margin-top: -300px;
}
.nome{
    font-size: 1.3em;
    text-align: left;
    margin-top: 250px;
    margin-right: 3%;
}
#Logo_Proz_Profissao{
    width: 150px;
}
>>>>>>> 127c543edea29ab8251154592c5861dbba52fe03
